@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.spinning-text-wrapper img {
  width: 20%;
  height: auto;
}

@keyframes scrollAnim {
  0% {
    transform: translate(-50%, 0) rotateX(0);
    opacity: 0;
  }

  5% {
    opacity: 0.5;
  }

  15% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 20px) rotateX(30deg);
  }
}

/* Animación HotSpot */

/* Animation */
@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(1.75);
    opacity: 0;
  }
}
@keyframes stop-pulsate {
  from {
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
/* Button */
.btn-pulse {
  position: absolute;
}
.btn-pulse .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin: 0.099em auto auto 0.063em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform-origin: 50% 50%;
  transition: opacity 0.2s ease-in, transform 0.1s ease-out;
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
  z-index: 7;
}
.btn-pulse .circle::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #ff0000;
  z-index: 9;
}
.btn-pulse .circle:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn-pulse .circle:active {
  transform: scale(0.875);
}
.btn-pulse .outer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 83px;
  height: 83px;
  margin: -1em auto auto -1em;
  transform-origin: 50% 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.63);
  opacity: 0;
  animation: pulsate 3s ease-out infinite;
}
.btn-pulse:hover .outer {
  animation: none;
}

/* Presentacion de los TootlTips para el HotSpot */

.markers:hover .marker__card, .markers:focus .marker__card {
	display: block;
  animation: fadeInUp;
	animation-duration: .5s;
	animation-fill-mode: both;
  animation-delay: 0.5s;
}

.marker__card {
  position: absolute;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	animation: fadeOut;
  animation-duration: .5s;
	animation-fill-mode: both;
}



@keyframes fadeInUp {
	0% {
    opacity: 0;
	transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
	-webkit-transform: scale3d(.3,.3,.3);
    -webkit-transform: translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

@keyframes fadeOut {
  0% {
      opacity: 1;
      transform: none;
  }
  100% {
      opacity: 0;
      transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
  }
}


